*{
    margin:0;
    padding:0;
    user-select: none;
}

body{
    width: 100%;
    height: 100%;
    position:absolute;
    min-width: 1360px;
    min-height: 850px;
}

#header{
    width: 100%;
    height: 35px;
    background-color: rgba(245,245,245,1);
}

#header a{
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    line-height: 35px;
    color:rgba(0,0,0,0.6);
}

.header_left{
    float:left;
}

.header_right{
    float:right;
    margin-right: 2%;
}

#logo{
    width: 100%;
    height: 120px;
}

.logo_left{
    width: 15%;
    height: 100%;
    margin-left: 2%;
    background: url("images/logo.png") no-repeat center;
    vertical-align: center;
    line-height: 120px;
    float: left;
}

.logo_right{
    width: 70%;
    height: 100%;
    float:right;
    position:relative;
    right:9%;
    line-height: 120px;
}

#seachContainer{
    display: inline-block;
    width: 100%;
    height: 50%;
    vertical-align: middle;
    line-height: 0;
}

#seachInput{
    display:inline-block;
    width: 90%;
    height: 65%;
    box-sizing: border-box;
    outline: none;
    border: 2px solid rgba(255,66,0,1);
    padding-left: 8px;
    font-size: 16px;
    float:left;
}

#seachBtn{
    display: inline-block;
    width: 10%;
    height: 65%;
    box-sizing: border-box;
    outline: none;
    background-color:rgba(255,66,0,1);
    font-size: 16px;
    cursor: pointer;
    border: 2px solid rgba(255,66,0,1);
    float:left;
    color: #ffffff;
}

#seachHistory{
    display: inline-block;
    width: 100%;
    height: 35%;
    box-sizing: border-box;
    float:left;
}

#seachHistory ul{
    line-height: 100%;
    list-style: none;
}

#seachHistory li{
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
    font-size: 12px;
}

#seachHistory a{
    text-decoration: none;
    color:rgba(0,0,0,1);
}

#guess{
    display: inline-block;
    width: 96%;
    height: 40px;
    box-sizing: border-box;
    border:1px solid rgba(0,0,0,0.1);
    background-color: rgba(245,245,245,1);
    margin:0px 2%;
}

#guess span{
    line-height: 40px;
    vertical-align: center;
    margin-left: 20px;
    font-size: 12px;
    color: rgba(0,0,0,0.6);
    float:left;
}

#guess ul{
    list-style: none;
    display: inline-block;
    line-height: 40px;
}

#guess li{
    display: inline-block;
    float:left;
    white-space: pre-wrap;
    font-size: 12px;
    vertical-align: center;
    margin-left: 10px;
}

#guess li a{
    text-decoration: none;
    color:rgba(0,0,0,1);
}

#guess a:hover{
    color:rgba(255,66,0,1);
}

#select{
    width: 96%;
    height: 37px;
    margin:10px auto 0px;
    border:1px solid rgba(0,0,0,0.1);
}

#select_left_price{
    width: 17%;
    height: 100%;
    float:left;
    background-color: white;
    position:relative;
    box-sizing: border-box;
    z-index: 0;
}

#select_left_price span{
    line-height: 37px;
    vertical-align: center;
    margin-left: 10px;
    font-size: 12px;
    color: rgba(0,0,0,0.6);
    float:left;
    white-space: pre-wrap;
}

#select_left_price input{
    width: 20%;
    height: 65%;
    float:left;
    margin-top: 7.03px;
    box-sizing: border-box;
    padding-left: 0.5%;
}

#select_left_price button{
    width: 20%;
    height: 65%;
    float:left;
    font-size: 12px;
    box-sizing: border-box;
    margin-top: 7.03px;
    margin-left:6%;
    outline: none;
    border-radius: 4px;
    border:none;
    background-color: rgba(255,66,0,1);
    color:white;
    visibility: hidden;
}

#select_left_address{
    width:5%;
    height: 100%;
    float:left;
    position:relative;
    left:-5%;
    z-index: 1;
}

#address_left{
    display:inline-block;
    float:left;
    width: 75%;
    height: 65%;
    box-sizing: border-box;
    margin-top: 7.03px;
    border:1px solid rgba(0,0,0,0.3);
    border-right: none;
    font-size: 12px;
    padding:2px;
    color:rgba(0,0,0,0.6);
    cursor:pointer;
}

#address_right{
    display:inline-block;
    float:left;
    width: 25%;
    height: 65%;
    box-sizing: border-box;
    margin-top: 7.03px;
    border:1px solid rgba(0,0,0,0.3);
    padding-left:2px;
    cursor:pointer;
}

#select_right_check{
    list-style: none;
    height: 100%;
}

#select_right_check li{
    display:inline-block;
    float:right;
    font-size: 12px;
    line-height:37px;
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
}

#select_right_check li:hover{
    color:rgba(255,66,0,1);
}

#select_right_line{
    display: inline-block;
    width: 1px;
    height: 100%;
    background-color:rgba(0,0,0,0.1);
}

#scrollShow{
    width: 0;
    height: 0;
    background-color: #ffffff;
    position: fixed;
    z-index: 100;
    display: block;
    top: 0;
    left:0;
    transition: all 0.5s;
}

#scrollShow_logo{
    display: inline-block;
    height: 0px;
    width: 15%;
    margin-left: 3%;
    background: url("images/logo.png") no-repeat;
    background-size: 90% 85%;
    margin-top: 5px;
    transition: height 0.3s;
    float: left;
}

#scrollShow_seach{
    display: inline-block;
    width: 65%;
    height: 0;
    border: none;
    float: left;
    box-sizing: border-box;
    margin-top: 10px;
    outline: none;
    padding-left: 8px;
    font-size: 16px;
}

#scrollShow_btn{
    width: 6%;
    height: 0;
    border:none;
    float:left;
    box-sizing: border-box;
    margin-top: 10px;
    background-color:rgba(255,66,0,1);
    font-size: 16px;
    cursor: pointer;
    color: #ffffff;
}

#productList{
    width: 98%;
    height: 100%;
    position:relative;
    margin:0px 1%;
}

.container{
    width: 18%;
    height: 45%;
    margin:1%;
    box-sizing: border-box;
    border:1px solid rgba(0,0,0,0.2);
    float:left;
    position: relative;
}

.sellover_container{
    width: 18%;
    height: 45%;
    margin:1%;
    box-sizing: border-box;
    border:1px solid rgba(0,0,0,0.2);
    float:left;
    position: relative;
    cursor: not-allowed;
}

.sellover{
    width: 90%;
    height: 50%;
    position: absolute;
    left:5%;
    top:25%;
    background: url("images/sellover.png") no-repeat;
    background-size: 100% 80%;
    z-index: 10;
}

.container_hover{
    border:1px solid rgba(248,83,0,1);
}

.picture{
    width: 100%;
    height: 70%;
    position: relative;
    box-sizing: border-box;
    background-size:100% 100%;
    padding:5%;
    background-origin: content-box;
    background-repeat:no-repeat;
}

.cheapSell{
    width: 20%;
    height: 20%;
    position: absolute;
    left: -6%;
    top:-6%;
    box-sizing: border-box;
    background:url("images/discount.png") no-repeat;
    background-size: 100% 100%;
}

.price{
    width: 100%;
    height: 10%;
    color:rgba(248,83,0,1);
    box-sizing: border-box;
    line-height: 36.39px;
}

.valuePrice{
    padding-left: 5px;
    font-weight: 900;
}

.des{
    display:inline-block;
    width: 100%;
    height: 10%;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden;
    font-size: 14px;
    line-height: 36.39px;
    padding-left: 5px;
    color:rgba(0,0,0,0.9);
    text-decoration: none;
}

.shopName{
    width: 100%;
    height: 10%;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 36.39px;
    color:rgba(0,0,0,0.7);
}

.shop{
    float:left;
    padding-left: 5px;
    text-decoration: underline;
}

.payNum{
    float:right;
    padding-right: 5px;
}

#page_nav{
    width: 98%;
    margin: 1%;
    box-sizing: border-box;
    height: 130px;
    clear:both;
    line-height: 150px;
    vertical-align: center;
    text-align: center;
}

#page_nav_ul{
    display: inline-block;
    list-style: none;
    box-sizing: border-box;
}

#page_nav_ul li{
    display:inline-block;
    height:34px;
    width:45px;
    border:1px solid rgba(0,0,0,0.2);
    box-sizing: border-box;
    vertical-align: center;
    line-height: 34px;
    font-size: 14px;
    float:left;
}

#page_nav_ul .page_number{
    width: 36px;
}

#page_nav_ul a{
    text-decoration: none;
    color:rgba(0,0,0,0.8);
}

.page_active{
    background-color:rgba(248,83,0,1);
    border:none;
}

.page_show_line:hover{
    text-decoration: underline;
}

#hot_sale_container{
    width: 98%;
    margin: 1%;
    box-sizing: border-box;
    height: 395px;
    border:1px solid rgba(0,0,0,0.2);
}

#hot_header{
    position:relative;
    width: 100%;
    height: 45px;
    background-color: rgba(242,242,242,1);
    border-bottom:1px solid rgba(0,0,0,0.1);
    box-sizing: border-box;
    line-height: 41px;
}

#hot_header a{
    margin:9px;
    color:#666;
    font-size: 12px;
}

#hot_header .hot_choice:hover{
    color:rgba(255,66,0,1);
}

#hot_wantShow{
    position: absolute;
    color:#666;
    font-size: 12px;
    right:10px;
    bottom:-10px;
    text-decoration: none;
}

#hot_wantShow:hover{
    text-decoration: underline;
}

#hot_content{
    width: 100%;
    height: 367px;
    box-sizing: border-box;
    padding:1% 0 1% 2%;
}

.hot_item_container{
    width:18%;
    height: 315px;
    box-sizing: border-box;
    border:1px solid rgba(0,0,0,0.1);
    float:left;
    margin-right: 2%;
    position:relative;
}

.hot_item_container:hover{
    border:1px solid rgba(248,83,0,1);
}

.hot_picture{
    width: 98%;
    margin:4%;
    height: 220px;
    background-size: 100% 100%;
    background: url("images/hot_a.jpg") no-repeat;
}

.hot_des{
    width:245px;
    display: inline-block;
    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden;
    font-size: 14px;
    padding-left: 3px;
    text-decoration: none;
    color:rgba(0,0,0,1);
}

.hot_price{
    width:253px;
    font-size: 16px;
    font-weight: 700;
    color:#f40;
    padding-left: 3px;
    margin-top: 10px;
    text-decoration: none;
    padding-left: 0;
}

.hot_item_container span{
    font-weight: 500;
    color:#f40;
}

.hot_count{
    display: inline-block;
    width: 200px;
    padding-left: 3px;
    font-size: 12px;
    margin-top: 6px;
    text-decoration: none;
    color:rgba(0,0,0,1);
}

.hot_item_container a:hover{
    text-decoration: underline;
}

#foot{
    width:98%;
    height: 200px;
    margin-left:1%;
    margin-top: 60px;
}

#up_line{
    width: 90%;
    height: 1px;
    background-color: rgba(0,0,0,0.2);
    margin-left: 5%;
}

#partner_one{
    list-style: none;
    margin-left: 5%;
    margin-top: 10px;
}

#partner_one li{
    display:inline-block;
    margin-right: 10px;
}

#partner_one a{
    text-decoration: none;
    font-size: 10px;
    color:rgba(0,0,0,0.6);
    border-right: 1px solid rgba(0,0,0,0.2);
    padding-right: 10px;
}

#partner_two{
    list-style: none;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#partner_two li{
    display: inline-block;
}

#partner_two a{
    text-decoration: none;
    font-size: 10px;
    color:rgba(0,0,0,0.6);
    border-right: 1px solid rgba(0,0,0,0.2);
    padding-right: 10px;
}

#under_line{
    width: 90%;
    height: 1px;
    background-color: rgba(0,0,0,0.2);
    margin-left: 5%;
}

#albaba_info{
    list-style: none;
    margin-left: 5%;
    margin-top: 5px;
}

#albaba_info li{
    display: inline-block;
}

#albaba_info a{
    font-size: 10px;
    text-decoration: none;
    color:rgba(0,0,0,0.6);
    margin-right: 8px;
}

#licence_one{
    list-style: none;
    margin-left: 5%;
    margin-top: 5px;
}

#licence_one li{
    display:inline-block;
    font-size: 10px;
    color:rgba(0,0,0,0.5);

}

#licence_one a{
    font-size: 10px;
    text-decoration: none;
    color: rgba(0,0,0,0.6);
    margin-right: 5px;
    border-right: 1px solid rgba(0,0,0,0.2);
    padding-right: 10px;
}

#licence_two{
    list-style: none;
    margin-left: 5%;
    margin-top: 5px;
}

#licence_two li{
    display:inline-block;
    font-size: 10px;
    color:rgba(0,0,0,0.5);
    margin-right: 5px;
    border-right: 1px solid rgba(0,0,0,0.2);
    padding-right: 10px;
    cursor: text;
}

#licence_two a{
    text-decoration: none;
    color:rgba(0,0,0,0.6);
}

#licence_three{
    margin-left: 5%;
    list-style: none;
    margin-top: 5px;
}

#licence_three li{
    display:inline-block;
    color: rgba(0,0,0,0.5);
    font-size: 10px;
    cursor: text;
    padding-right: 10px;
    margin-right: 5px;
    border-right: 1px solid rgba(0,0,0,0.2);
}

#licence_three a{
    font-size: 10px;
    text-decoration: none;
    color:rgba(0,0,0,0.6);
    padding-right: 10px;
    border-right: 1px solid rgba(0,0,0,0.2);
}

.three_first span{
    display:inline-block;
    width: 20px;
    height: 20px;
    position: relative;top: 5px;
    background: url("images/police.jpg") -861px 0;
}

#foot a:hover{
    color:rgba(255,66,0,1);
}